<div class="fullImg"><div class="temple"></div>
<div class="container"><div class="row">
	<div class="templeHeader col-xs-12 col-sm-8">
		All of the tourists see the temples
	</div>
</div></div> <!-- container and row -->
