@import "bootstrap-sprockets";
@import "bootstrap";

.fullImg {
	width: 100%;
	height: 500px;
	background-image: image-url("taProhm.jpg");
	/*
	.temple {
		background: url("taProhm.jpg");
		height: 500px;
	}
	.treehouse {
		background: url("treehouse.jpg");
		height: 500px;
	}
	*/
}

